.panel {
  display: grid;
  column-gap: var(--spacing-m);
  grid-template-columns: 2fr 1fr 200px;
  grid-template-rows: 1fr 1fr;

  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.06);
  margin-top: var(--spacing-m);
  height: 110px;
  padding: var(--spacing-s);

  svg {
    margin-left: var(--spacing-m);
  }
}

.panel__name {
  grid-column: 1;
  grid-row: 1 / -1;
  justify-self: start;
  align-self: center;
}

.panel__status {
  grid-column: 2;
  grid-row: 1 / -1;
  justify-self: start;
  align-self: center;

  & div:first-of-type {
    display: flex;
    & > * {
      margin-right: var(--spacing-s);
    }
  }
}

.panel__update {
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
  align-self: center;
  vertical-align: baseline;
}

.panel__actions {
  grid-column: 3;
  grid-row: 1 / -1;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.rotate {
  transform: rotate(90deg);
}
