<article class="panel">
  <div class="panel__name">
    <h2>{{ data.name | uppercase }}</h2>
    <small
      >Job créé le {{ data.createdAt | date: "MMM d, y, h:mm:ss a" }}</small
    >
  </div>

  <div class="panel__status">
    <div>
      <span>Status:</span>
      <ng-container *ngIf="data.status === 'IN PROGRESS' || data.status === 'QUEUED'">
        <span><b>IN PROGRESS</b></span>
        <app-loader></app-loader>
      </ng-container>

      <ng-container *ngIf="data.status === 'DONE'">
        <div class="column">
          <span><b>COMPLETED</b></span>
        </div>
        <svg-icon src="assets/svg/success.svg"></svg-icon>
      </ng-container>
    </div>
    <small>{{ data.updatedAt | date: "MMM d, y, h:mm:ss a" }}</small>
  </div>

  <div *ngIf="data.status === 'DONE'" class="panel__actions">
    <a [routerLink]="['/job', data._id]"><svg-icon src="assets/svg/see.svg"></svg-icon></a>
    <svg-icon src="assets/svg/download.svg" (click)="openModal(data._id)"></svg-icon>
    <svg-icon src="assets/svg/delete.svg" (click)="deleteJob(data._id)"></svg-icon>
  </div>
</article>
