<article class="panel">
  <div class="panel__name">
    <h2>{{ data.name | uppercase }}</h2>
    <small
      >Job créé le {{ data.createdAt | date: "MMM d, y, h:mm:ss a" }}</small
    >
  </div>

  <div class="panel__status">
    <div>
      <span>Status:</span>
      <ng-container *ngIf="data.status === 'IN PROGRESS' || data.status === 'QUEUED'">
        <span><b>IN PROGRESS</b></span>
        <app-loader></app-loader>
      </ng-container>

      <ng-container *ngIf="data.status === 'DONE'">
        <div class="column">
          <span><b>COMPLETED</b></span>
        </div>
        <svg-icon src="assets/svg/success.svg"></svg-icon>
      </ng-container>
    </div>

    <small>{{ data.updatedAt | date: "MMM d, y, h:mm:ss a" }}</small>
  </div>

  <div class="panel__update">
    <svg-icon *ngIf="data.status === 'DONE'" src="assets/svg/download.svg" (click)="openModal(data._id)"></svg-icon>
  </div>

  <!-- CHEVRON -->
  <svg-icon
    (click)="toggle()"
    class="panel__extend"
    src="assets/svg/chevron.svg"
    [ngClass]="{ rotate: isOpen }"
  ></svg-icon>
</article>

<!-- CONTENT -->
<div class="panel__content" [ngClass]="{ hidden: !isOpen }">
  <!-- TABLE DE VALIDATION DES URLS -->
  <table *ngIf="urls.length">
    <tr>
      <th>URL ({{ totalUrls }})</th>
      <th>TEMPS DE RÉPONSE</th>
      <th>CODE</th>
      <th>STATUS</th>
    </tr>
    <tr
      *ngFor="let url of urls"
      [ngClass]="{
        error: url.statusCode && url.statusCode >= 400,
        success: url.statusCode && url.statusCode < 400
      }"
    >
      <td>{{ url.url }}</td>
      <td class="center">
        {{ url.responseTime && url.responseTime.toFixed() + "ms" }}
      </td>
      <td>{{ url.statusCode }}</td>
      <td class="center">
        <svg-icon
          *ngIf="url.statusCode && url.statusCode < 400"
          src="assets/svg/success.svg"
        ></svg-icon>
        <svg-icon
          *ngIf="url.statusCode && url.statusCode >= 400"
          src="assets/svg/error.svg"
        ></svg-icon>
      </td>
    </tr>
  </table>
</div>
