.jobs {
  .job {
    background-color: var(--color-grey-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-l);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--color-grey-dark);
      padding: var(--spacing-s);
      color: var(--white);
    }

    &__bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--white);

      svg {
        transform: rotate(90deg);
      }
    }

    &__info {
        align-items: center;
        display: flex;
  
        & > span {
            margin-right: var(--spacing-l);
            display: flex;
            align-items: center;

            & > * {
                margin-right: var(--spacing-s);
            }
        }
    }
  }
}
