.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  width: 40vw;
  height: fit-content;
  z-index: 111;
  background-color: var(--white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: var(--spacing-m);

  &__close {
    cursor: pointer;
    position: absolute;
    top: var(--spacing-s);
    right: var(--spacing-s);
  }
}

.hidden {
  display: none;
}
