<form [formGroup]="downloadJobForm">
  <h2>Sélectionner les champs à inclure:</h2>
  <label formArrayName="fields" *ngFor="let field of formFieldsArray.controls; let i = index">
    <input type="checkbox" [formControlName]="i">
    {{formFields[i].name}}
  </label>

  <h2>Sélectionner le format de fichier:</h2>
  <div class="actions">
      <!-- <button type="submit">btn</button> -->
    <app-button [type]="'button'" (click)="onSubmit('csv')" [disabled]="downloadJobForm.invalid">
      CSV
    </app-button>
    <app-button [type]="'button'" (click)="onSubmit('json')" [disabled]="downloadJobForm.invalid">
      JSON
    </app-button>
    <app-loader *ngIf="submitting"></app-loader>
  </div>
</form>
 