<div class="paginator">
  <button
    *ngIf="currentPage > 1"
    (click)="previousPage()"
    class="paginator__btn"
  >
    Previous
  </button>
  <ng-container *ngFor="let page of pages; let i = index">
    <span
      *ngIf="totalPages && totalPages > 5 && i === 3"
      class="paginator__spread"
      >...</span
    >
    <button [class.active]="currentPage === page" class="paginator__btn">
      {{ page }}
    </button>
  </ng-container>
  <button
    [disabled]="currentPage === totalPages"
    (click)="nextPage()"
    class="paginator__btn"
  >
    Next
  </button>
</div>
